@media (max-width: 768px) {
    header {
        position: relative; 
    }

    header nav {
        position: absolute;
        margin-top: 270px;
        width: 100%;
        display: none;
        background-color: rgb(32, 18, 4);
    }

    .menu-icon {
        display: block;
        color: #f0e3d3;
        font-size: 24px; 
    }

    header nav li {
        display: block;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-right: 0px; 
    }

    nav li a {
        font-size: 18px;
    }
 

    .logo img {
        width: 130px;
        height: 120px; 
        margin-top: 10px; 
        margin-bottom: 10px; 
        margin-left: 15px;  
    }
}

@media (min-width: 768px) {
    header nav {
        display: block !important;  
    }
}